#The services host name
HOST=localhost
#The services port to get access from the docker container
PORT=3000
REDIS_PORT=6379

BADGER_DATA_SOURCE=data/badger

COMPOSE_USER_ID=ruhul.vivasoft
COMPOSE_GROUP_ID=17942803401794280340

#The services and the database will be accessible from the host machine on these ports
EXPOSE_PORT=3000
EXPOSE_REDIS_PORT=6379

#docker run --rm --name asynqGUI -p 8080:8080 \
#  -e REDIS_ADDR=host.docker.internal:6379 \
#  hibiken/asynqmon
