APP_NAME=mini-k8s
#The services host name
HOST=localhost
#The services port to get access from the docker container
API_PORT=3000


REDIS_PORT=6379

SQLITE_DATA_SOURCE=data/sqlite/mini-k8s.db

COMPOSE_USER_ID=ruhul.vivasoft
COMPOSE_GROUP_ID=17942803401794280340

#The services and the database will be accessible from the host machine on these ports
REDIS_EXPOSE_PORT=6379

CONTAINER_NAME_PREFIX=mini-k8s
IMAGE_TAG_PREFIX=mini-k8s

#logs configs
LOG_APPLICATION=mini-k8s
LOG_LEVEL=DEBUG
LOG_FILE=./logs/app.log
LOG_ADD_SOURCE=true
ENABLE_REQUEST_LOG=false

#Exposed ports
APP_PORT_RANGE=8000-8009

#docker run --rm --name asynqGUI -p 8080:8080 \
#  -e REDIS_ADDR=host.docker.internal:6379 \
#  hibiken/asynqmon
