APP_NAME=mini-k8s
#The services host name
HOST=localhost
#The services port to get access from the docker container
API_PORT=7000
REDIS_PORT=6379

BADGER_DATA_SOURCE=data/badger

COMPOSE_USER_ID=ruhul.vivasoft
COMPOSE_GROUP_ID=17942803401794280340

#The services and the database will be accessible from the host machine on these ports
REDIS_EXPOSE_PORT=6379

CONTAINER_NAME_PREFIX=mini-k8s
IMAGE_TAG_PREFIX=mini-k8s

#Exposed ports
APP_PORT_RANGE=3000-3009

#docker run --rm --name asynqGUI -p 8080:8080 \
#  -e REDIS_ADDR=host.docker.internal:6379 \
#  hibiken/asynqmon
